<div class="thank-you-container">
  <img class="fst-img" src="../assets/img/check.png" alt="1st-adv-img" style="border-radius: 20px; width: 5rem;">
    <h1>Thank You!</h1>
    <p>Thank you for taking the time to fill out our survey. Your feedback is greatly appreciated.</p>
    
    <!-- Modal -->
    <div id="myModal" class="modal" [style.display]="modalDisplay">
        <div class="modal-content">
            
            <h1>Response Recorded</h1>
            <p>Thank you for taking the time to fill out our survey.</p>
            <button class="btn button-option" (click)="closeModal()">OK</button>
        </div>
    </div>
</div>
 