  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center slide-down">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>FORMALYTICS</span></h2>
          <p class="animate__animated animate__fadeInUp">A tracer study (also known as a graduate survey) is a standardized survey conducted with graduates from educational institutions. It takes place sometime after graduation or the end of training. The purpose is to gather feedback on their placement, occupational situation, productivity, and overall efficacy after completing their education or training</p>
          
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">DEVELOPERS</h2>
          <p class="animate__animated animate__fadeInUp">Hizola, John Carlo A.<br> Roa, Chris Jen Ian D.<br>Longos, Romar L.<br>Pamintuan, Xyrell Dave<br>Mayor, Vanryc Eizer<br>Triumfante,James Lee M.<br>
            Canta, Gui Ann R.<br>Lubay, Robert Deniel M.</p>
          
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Easy to create surveys and forms for everyone</h2>
        
          <button type="button" class="btn button-option" routerLinkActive="active"
                                routerLink="/register">GET STARTED
                            </button>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->



<div style="padding-top: 8rem;" class="container">
    <div class="card">
        <div class="card-body1 mt-3 mb-3 fade-in-right">
            <div class="d-flex flex-sm-row flex-column">
                <div class="div-border col-sm-6 px-2 py-3" style="text-align: center; border-radius: 20px;">
                    <img class="fst-img" src="../assets/img/OIP.jpg" alt="1st-adv-img" style="border-radius: 20px;">
                </div>
                <div class="fst-adv-paragraph col-sm-6 px-5 d-flex align-items-center" style="background-color: rgba(255, 255, 255, 0); border-radius: 20px;">
                    <div>
                        <h3 class="text pt-3" style="text-align: center; color: rgb(210, 105, 30);">Create your own survey</h3>
                        <p style="text-align: justify;">Welcome! Do you have something important
                            you want to know? Create your own survey and get direct answers from
                            your users!</p>
                        <div style="text-align: center;">
                            <button type="button" class="btn button-option" routerLinkActive="active"
                                routerLink="/register">start now
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body2 my-3 fade-in-left">
            <div class="d-flex flex-sm-row flex-column">
                <div class="fst-adv-paragraph col-sm-6 px-5 d-flex align-items-center" style="background-color: rgba(240, 248, 255, 0); border-radius: 20px;">
                    <div>
                        <h3 class="text" style="text-align: center; color: chocolate;">Analyze your results</h3>
                        <p style="text-align: justify;">"All participant responses will be analyzed
                            instantly once the survey is completed. Our system will collect and process
                            the data efficiently, providing you with precise and detailed results."</p>
                        <div class="pb-5" style="text-align: center;">
                            <button type="button" class="btn button-option" routerLinkActive="active"
                                routerLink="/register">start now 
                            </button>
                        </div>
                    </div>
                </div>
                <div class="div-border col-sm-6 px-2 py-3" style="text-align: center; border-radius: 20px;">
                    <img class="fst-img" src="../assets/img/survey2-ex.png" alt="1st-adv-img" style="border-radius: 20px;">
                </div>
            </div>
        </div>
        <div class="card-body1 mt-3 mb-3 fade-in-right">
            <div class="d-flex flex-sm-row flex-column">
                <div class="div-border col-sm-6 px-2 py-3" style="text-align: center; border-radius: 20px;">
                    <img class="fst-img" src="../assets/img/Survey.png" alt="1st-adv-img" style="border-radius: 20px;">
                </div>
                <div class="fst-adv-paragraph col-sm-6 px-5 d-flex align-items-center" style="background-color: rgba(255, 255, 255, 0); border-radius: 20px;">
                    <div>
                        <h3 class="text pt-3" style="text-align: center; color: rgb(210, 105, 30);">Send professional looking surveys to customers</h3>
                        <p style="text-align: justify;">Great looking surveys help you connect with customers to gain valuable insights</p>
                        <div style="text-align: center;">
                            <button type="button" class="btn button-option" routerLinkActive="active"
                                routerLink="/register">start now
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="card-body div-border w-75 mx-auto my-3">
            <div class="card-header text-primary mb-4">
                If you have any comments about the application, feel free to tell us.
            </div>
            <form method="post">
                <div class="form-group">
                    <label class="atribute-color-text text-left" for="username">Username:</label>
                    <input type="text" class="form-control mb-3" id="username" name="username"
                        [(ngModel)]="suggestion.username" required />

                    <label class="atribute-color-text text-left" for="message">Message:</label>
                    <textarea class="form-control" style="resize: none;" name="message" id="message"
                        [(ngModel)]="suggestion.message"></textarea>
                </div>
                <div class="mt-3 text-center">
                    <button type="button" class="btn btn-primary" (click)="saveSuggestion()">Save comment</button>
                </div>
            </form>
        </div> -->
    </div>
</div>
